# emacs backup files
*~
# .pyc
*.pyc

# Misc tags/ctags files
tags
TAGS

# Vim swap files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Configuration files for Visual Studio Code
.vscode/
